:root{
    --onoff-main: rgb(252,185,19);
    --bg-color:rgb(29, 29, 29);
    --main-color:rgb(19, 159, 252);
}

/* html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
        Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing : border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background: rgba(240, 239, 234, 0);
    color: white;
    text-align: center;
    z-index: 15;
    padding: 1%;
}

.section{
    display: flex;
    margin-top: 15vh;
    height: 100%;
    flex-direction: row;
    
    /* height: 90vh; */
}

.contents-box{
    display: flex;
    flex-direction: column;
    width: 45rem;
    
    filter : drop-shadow(0 0 10px var(--main-color));
    /* filter: drop-shadow(30px 10px 4px #4444dd); */
}
.top-bar{
    display: flex;
    height: 2rem;
    background-color: var(--main-color);
    align-items: center;
    justify-content: right;
    padding-right: 0.5rem;
}
.close{
    width: 1.5rem;
    height: 1.5rem;
    background: var(--bg-color);
    clip-path: polygon(10% 0%, 0% 10%, 40% 50%, 0% 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0%, 50% 40%);
}

.contents{
    /* display: flex; */
    border-bottom: var(--main-color) 4px solid;
    border-right: var(--main-color) 4px solid;
    border-left: var(--main-color) 4px solid;
    overflow: hidden;
    padding: 0.5rem;
    /* min-height: 25rem; */
}
.all{
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    background: linear-gradient(rgba(255, 187, 51, 0) 50%,
     rgba(19, 159, 252, 0.068) 50%);
     background-size: 100% 0.5rem;
    /* border-bottom: var(--main-color) 4px solid;
    border-right: var(--main-color) 4px solid;
    border-left: var(--main-color) 4px solid; */
}

.bottom-bar{
    height: 0.8rem;
    /* filter : drop-shadow(0 0 blur var(--main-color)); */
    background: linear-gradient(45deg, rgba(216, 112, 147, 0) 55%, var(--main-color) 55%);
}
.items{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    padding: 1rem 1.2rem;
}

.album-img{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.album{
    width: 15rem;
    height: 15rem;
    /* margin-right: 3vw; */
    background: center center / 100% no-repeat;
    opacity: 70%;
}

.name{
    /* width: 60vw; */
    /* padding: 0 0 1vh; */
    /* margin: 7vh 10vw; */
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);
    /* padding-bottom: 0.2rem; */
    padding: 1rem 1.2rem;
    /* width: 22ch; */
    /* white-space: nowrap; */
    /* animation: typing 2s steps(22), blink 1s step-end infinite alternate; */
    /* border-right: 3px solid var(--main-color); */
    /* border-bottom: 4px solid; */
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    50% {
        border-color: transparent
    }
}

.btn-box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0rem 0.5rem 0.5rem 1.2rem;
    /* align-items: center; */
}
.list-btn {
    display: flex;
    flex-direction: row;
}

.list-tag{
    font-size: 1.5rem;
    color: var(--main-color);
}

.btn-box .btn-song{
    width:20rem;
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: 0.3rem;
    cursor: pointer;
    /* text-align: left; */
}
.arrow{
    display: flex;
    align-items: center;
    filter : drop-shadow(0 0 10px var(--main-color));
}
.arrow div{
    clip-path: polygon(0% 0%, 0% 100%, 0.3rem 100%, 0.3rem 0.3rem, 100% 0.3rem, 100% 0%);
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
}

#left {
    rotate: -45deg;
}

#right {
    rotate: 135deg;
}

.change{
    animation: appear 3s ease-out;
}
@keyframes appear {
    0% {
        height: 100%;
    }
    20% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}


.section input[id*="slide"]{
    display: none;
}

.section .slidewrap{
    width: 100vw;
    overflow: hidden;
}

.section .slidelist{
    white-space: nowrap;
}

.section .slidelist > li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: all 0.5s;
}

.section .slidelist > li >a{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 80vw;
    margin: 2vh 10vw 2vh;
}



/* .album{
    display:flex;
    margin: 0vh 11% 7vh;
    
} */

.album img{
    width: 24vw;
    height: 24vw;
    margin-right: 3vw;
    background: center center / 100% no-repeat;
}

/* .name{
    width: 60vw;
    padding: 0 0 1vh;
    margin: 7vh 10vw;
    font-size: 8vh;
    font-weight: 700;
    border-bottom: 4px solid;
} */

.section .slidelist .songs{
    display: flex;
    flex-direction: column;
}

.section .slidelist .songs button{
    width: 35vw;
    height: 4vw;
    margin: 0 0 1vw;
    cursor: pointer;
    overflow:hidden;
    font-weight: bold;
}

.btn-song:hover{
    animation: blur-a 3s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur-a {
    from {
        text-shadow:0px 0px 10px #fff,
            0px 0px 10px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #7B96B8,
            0px 0px 150px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px -10px 100px #7B96B8,
            0px -10px 100px #7B96B8;
    }
}

@media all and (max-device-aspect-ratio:5/4) {
    .name{
        margin: 5vh 10vw 3vh 10vw;
        /* padding: 0 0 0vh; */
        font-size: 5vw;
    }
    .album{
        display:flex;
        flex-direction: column;
        align-items: center;
        /* margin: 0vh 11% 7vh; */
        
    }

    .album img{
        width: 35vw;
        height: 35vw;
        margin-right: 0;
        margin-bottom: 3vh;
        /* background: center center / 100% no-repeat; */
    }

    .section .slidelist .songs button{
        width: 60vw;
        height: 7vw;
        margin: 0 0 1vw;
        font-size: 25px;
        /* cursor: pointer;
        overflow:hidden;
        font-weight: bold; */
    }

    .section .slidelist label{
        width: 10px;
        height: 10px;
    }
} 


.onoff{
    /* background-color: white; */
    border:3px solid var(--onoff-main);
}
.onoff button{
    background-color: var(--onoff-main);
    /* outline-color: ; */
    border:2px solid var(--onoff-main);
    color: white;
}

.onoff .name{
    border-color: var(--onoff-main);
    color: var(--onoff-main);
}

.complete{
    border: 3px solid rgb(181, 220, 253);
}
.complete button{
    background-color: rgb(255,244,80);
    /* outline-color: ; */
    border:none;
    color: rgb(0,115,208);
}

.complete .name{
    border-color: rgb(0,115,208);
    color: rgb(0,115,208);
}

.wemustlove{
    border: 3px solid rgb(245,203,204);
}

.wemustlove button{
    background-color: rgb(245,203,204);
    /* outline-color: ; */
    border:none;
    color: rgb(129,114,124);
}

.wemustlove .name{
    border-color: rgb(218,110,108);
    color: rgb(218,110,108);
}

.golive{
    background-color: #f8f8f8;
    border: 3px solid rgb(5, 5, 5);
}

.golive button{
    background-color: rgb(5, 5, 5);
    /* outline-color: ; */
    border:none;
    color: white;
}

.golive .name{
    border-color: rgb(5, 5, 5);
    color: rgb(5, 5, 5);
}

.spinoff{
    /* background-color: #f8f8f8; */
    border: 3px solid #cdbbb2;
}

.spinoff button{
    background-color: #cdbbb2;
    /* outline-color: ; */
    border:none;
    color: rgb(0, 0, 0);
}

.spinoff .name{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.myname{
    /* background-color: #f8f8f8; */
    border: 3px solid #e74930;
}

.myname button{
    background-color: #e74930;
    /* outline-color: ; */
    border:none;
    color: rgb(0, 0, 0);
}

.myname .name{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.cityofonf{
    background-color: #4048a9;
    /* background-color: #f8f8f8; */
    border: 4px solid #000;
}

.cityofonf button{
    background-color: #4048a9;
    /* outline-color: ; */
    border:3px solid #000;
    color: #000;
}

.cityofonf .name{
    border-color: #000;
    color: #000;
}

.popping{
    /* background-color: #f8f8f8; */
    border: 3px solid #69c7f1;
}

.popping button{
    background-color: #69c7f1;
    /* outline-color: ; */
    border:none;
    color: white;
}

.popping .name{
    border-color: #69c7f1;
    color: #69c7f1;
}

.goosebumps{
    background-color: rgb(0, 0, 0);
    border: 3px solid #a0a0a1;
}

.goosebumps button{
    background-color: #a0a0a1;
    /* outline-color: ; */
    border:none;
    color: white;
}

.goosebumps .name{
    border-color: #a0a0a1;
    color: #a0a0a1;
}


.section .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    /* width: 5vw;
    height: 5vw; */
    padding: 3vh;
    cursor: pointer;
}

.section .left{
    left: 3vw;
    background: url('../img/left.png') center center / 100% no-repeat;
}

.section .right{
    right: 3vw;
    background: url('../img/right.png') center center / 100% no-repeat;
}



.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}
.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);}
.section [id="slide05"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-400%);}
.section [id="slide06"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-500%);}
.section [id="slide07"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-600%);}
.section [id="slide08"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-700%);}
.section [id="slide09"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-800%);}
/* .section [id="slide10"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-900%);}
.section [id="slide11"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1000%);}
.section [id="slide12"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1100%);}
.section [id="slide13"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1200%);}
.section [id="slide14"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1300%);}
.section [id="slide15"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1400%);} */


.section .slide-control [class*="control"]{
    display: none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01{display: block;}
.section [id="slide02"]:checked ~ .slidewrap .control02{display: block;}
.section [id="slide03"]:checked ~ .slidewrap .control03{display: block;}
.section [id="slide04"]:checked ~ .slidewrap .control04{display: block;}
.section [id="slide05"]:checked ~ .slidewrap .control05{display: block;}
.section [id="slide06"]:checked ~ .slidewrap .control06{display: block;}
.section [id="slide07"]:checked ~ .slidewrap .control07{display: block;}
.section [id="slide08"]:checked ~ .slidewrap .control08{display: block;}
.section [id="slide09"]:checked ~ .slidewrap .control09{display: block;}
/* .section [id="slide10"]:checked ~ .slidewrap .control10{display: block;}
.section [id="slide11"]:checked ~ .slidewrap .control11{display: block;}
.section [id="slide12"]:checked ~ .slidewrap .control12{display: block;}
.section [id="slide13"]:checked ~ .slidewrap .control13{display: block;}
.section [id="slide14"]:checked ~ .slidewrap .control14{display: block;}
.section [id="slide15"]:checked ~ .slidewrap .control15{display: block;} */

/* @viewport {
    width : device-width;
} */
