*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.header {
    width: 100%;
    background: rgb(240,239,234);
    color: white;
    text-align: center;
    padding: 1rem;
}

.section input[id*="slide"]{
    display: none;
}

.section .slidewrap{
    max-width: 100vw;
    
    margin: 0px auto;
    overflow: hidden;
}

.section .slidelist{
    white-space: nowrap;
    font-size: 0;
    
    /* padding: 0px; */
}

.section .slidelist > li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: all 0.5s;
    
    /* padding: 10px; */
    /* margin: 3rem; */
    
}

/* .section .slidelist > li >a{ */
    /* display: block; */
    /* position: relative; */
    /* text-align: center; */
    
    /* align-items: center; */
    /* width: 100%; */
    /* padding:100px; */
/* } */

.section .slidelist > li >a{
    /* background-color: darksalmon; */
    display:flex;
    position: relative;
    text-align: center;
    
    
    /* align-items: center; */
    /* width: 100%; */
    height: 100%;
    margin: 10px 120px 10px;
    padding:50px;
}



.album{
    display:flex;
    flex-direction: column;
    /* position: absolute;
    top: 20vh; */
    
}

.album > img{
    
    width: 240px;
    height: 240px;
    
    /* object-fit: cover; */
    background: center center / 100% no-repeat;
}

.album .name{
    /* position: absolute;
    top: 5vh; */
    font-size: 35px;
}

.section .slidelist .songs{
    /* white-space: nowrap; */
    display: flex;
    flex-direction: column;
    
    width: 400px;
    padding: 10px;
    /* margin: 50px; */
}

.section .slidelist .songs button{
    /* display: flex; */
    /* white-space: nowrap; */
    /* 
    flex-direction: column; */
    /* width:inherit; */
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    
    /* outline-style:none; */
}

.onoff{
    background-color: white;
    border:2px solid rgb(252,185,19);
}
.onoff button{
    background-color: rgb(252,185,19);
    /* outline-color: ; */
    border:2px solid rgb(252,185,19);
    color: white;
}


.section .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    cursor: pointer;
}

.section .left{
    left: 30px;
    background: url('../img/left.png') center center / 100% no-repeat;
}

.section .right{
    right: 30px;
    background: url('../img/right.png') center center / 100% no-repeat;
}



.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}
.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);}
.section [id="slide05"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-400%);}
.section [id="slide06"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-500%);}
.section [id="slide07"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-600%);}
.section [id="slide08"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-700%);}
.section [id="slide09"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-800%);}
.section [id="slide10"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-900%);}
.section [id="slide11"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1000%);}
.section [id="slide12"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1100%);}
.section [id="slide13"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1200%);}
.section [id="slide14"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1300%);}
.section [id="slide15"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-1400%);}


.section .slide-control [class*="control"]{
    display: none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01{display: block;}
.section [id="slide02"]:checked ~ .slidewrap .control02{display: block;}
.section [id="slide03"]:checked ~ .slidewrap .control03{display: block;}
.section [id="slide04"]:checked ~ .slidewrap .control04{display: block;}
.section [id="slide05"]:checked ~ .slidewrap .control05{display: block;}
.section [id="slide06"]:checked ~ .slidewrap .control06{display: block;}
.section [id="slide07"]:checked ~ .slidewrap .control07{display: block;}
.section [id="slide08"]:checked ~ .slidewrap .control08{display: block;}
.section [id="slide09"]:checked ~ .slidewrap .control09{display: block;}
.section [id="slide10"]:checked ~ .slidewrap .control10{display: block;}
.section [id="slide11"]:checked ~ .slidewrap .control11{display: block;}
.section [id="slide12"]:checked ~ .slidewrap .control12{display: block;}
.section [id="slide13"]:checked ~ .slidewrap .control13{display: block;}
.section [id="slide14"]:checked ~ .slidewrap .control14{display: block;}
.section [id="slide15"]:checked ~ .slidewrap .control15{display: block;}

/* @viewport {
    width : device-width;
} */
