:root{
    --onoff-main: rgb(252,185,19);
    --bg-color:rgb(31, 29, 24);
    --main-color:rgb(19, 159, 252);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing : border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* padding: 0.5rem; */
}

/* .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 37vw;
    height: 100%;
    background: white;
    color: rgb(252,185,19);
    box-shadow: 10px 0 10px rgb(255, 220, 131);
    text-align: center;
    padding: 2% 0 2%;
} */

.contents-box{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    min-width: 40rem;
    
    /* width: 100%; */
}
.top-box {
    position: relative;
}



.top-bar{
    display: flex;
    height: 4rem;
    background: var(--main-color);
    clip-path: polygon(0% 0%, 70% 0%, 73% 40%, 
    calc(100% - 1rem) 40%, 100% calc(40% + 1rem), 
    100% 100%, 0% 100%);
    /* background: linear-gradient(60deg, var(--main-color) 75%, rgba(216, 112, 147, 0) 75%,
    rgba(216, 112, 147, 0) 80%,var(--main-color) 80%,
    var(--main-color) 85%, rgba(216, 112, 147, 0) 85%,
    rgba(216, 112, 147, 0) 90%,var(--main-color) 90%,
    var(--main-color) 95%, rgba(216, 112, 147, 0) 95%); */
    align-items: center;
    padding-left: 5rem;
    
    /* justify-content: right;
    padding-right: 0.5rem; */
}


.i1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    /* background-color: black; */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='25' stroke-dasharray='100' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 50%;
    top: -2rem;
    left: -4rem;
}

.i2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88%;
    width: 88%;
    border-radius: 50%;
    border: var(--main-color) 4px solid;

}

.i3 {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='7' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.contents{
    /* display: flex; */
    border: var(--main-color) 4px solid;
    /* border-right: var(--main-color) 4px solid;
    border-left: var(--main-color) 4px solid; */
    /* overflow: hidden; */
}

.game-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2rem;
    font-size: 1rem;
    color: var(--main-color);
}

.game-info .info {
    display: flex;
    flex-direction: column;
    border: var(--main-color) 2px solid;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 
    0.7rem 100%, 0% calc(100% - 0.7rem));
}

.time,
.score,
.type-correct {
    font-size: 2rem;
}

.info-text{
    font-size: 1.2rem;
    /* align-items: r; */
}

.bottom-bar {
    display: flex;
    flex-direction: column;
    /* border-bottom: var(--main-color) 4px solid; */
    border-right: var(--main-color) 4px solid;
    /* border-left: var(--main-color) 4px solid; */
}

.b1 {
    height: 1rem;
    background: linear-gradient(135deg,
    rgba(216, 112, 147, 0)  35%, var(--main-color)35%, 
    var(--main-color) 39%,  rgba(216, 112, 147, 0) 39%,
    rgba(216, 112, 147, 0) 42%, var(--main-color) 42%,
    var(--main-color) 46%,rgba(216, 112, 147, 0) 46%, 
    rgba(216, 112, 147, 0) 49%, var(--main-color) 49%,
    var(--main-color) 53%,rgba(216, 112, 147, 0) 53%, 
    rgba(216, 112, 147, 0) 56%, var(--main-color) 56%);
    margin-bottom: 0.2rem;
}

.b2 {
    height: 0.2rem;
    background: linear-gradient(135deg, rgba(216, 112, 147, 0) 20%, var(--main-color) 20%);
    margin-bottom: 0.2rem;
}

.b3 {
    height: 0.8rem;
    background: linear-gradient(45deg, rgba(216, 112, 147, 0) 30%, var(--main-color) 30%);
}














.name{
    position: absolute;
    top: 6%;
    font-size: 6vh;
    font-weight: 600;
}

.song-info{
    position: absolute;
    top: 16%;
    font-weight: 600;
}


/* .game-info {
    position: absolute;
    bottom: 15%;
    font-size: 3vh;
    width: fit-content;
}

.title,
.time,
.score,
.type-correct {
    font-size: 4.5vh;
} */

.button {
    position: absolute;
    bottom: 5%;
    width: 20vw;
    height: 6vh;
    background: rgba(252, 186, 19, 0);
    /* rgb(252,185,19) */
    color: white;
    border: none;
    /* margin-top: 1rem; */
    cursor: pointer;
    font-size: 3vh;
    font-weight: 700;
}



@media all and (max-device-aspect-ratio:5/4) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        /* padding: 0.5rem; */
    }

    .header {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items:; */
    
        width: 100%;
        height:fit-content;
        text-align: center;
        padding: 2% 2vw 2%;
        /* font-size: 1vw; */
    }

    .song-info{
        position: relative;
    }

    .name{
        position: relative;
        font-size: 5vw;
    }

    .bg-image{
        width: 0;
        height: 0;
    }

    .game-info {
        position:relative;
        font-size: 3vw;
        text-align: right;
        padding:0 2vw 0;
        /* display: flex;
        flex-direction: row; */
    }

    .button {
        position: relative;
        font-size: 3vw;
    }

    .title{
        font-size: 5vw;
    }
    .time,
    .score,
    .type-correct {
        font-size: 4.5vw;
        /* text-align:; */
    }
}

.complete{
    background: rgb(255,244,80);
    color: rgb(0,115,208);
    box-shadow: none;
}

.complete .button{
    background: rgb(0,115,208);
}

.wemustlove{
    background: rgb(255, 240, 237);
    color: rgb(129,114,124);
    box-shadow: none;
    /* border-right: 2px solid rgb(245,203,204); */
}

.wemustlove .title{
    font-size:3.5vh;
}

.wemustlove .button{
    background: rgb(245,203,204);
    color: rgb(218,110,108);
}

.golive{
    background: rgb(5, 5, 5);
    color: rgb(255,255,255);
    box-shadow: none;
    /* border-right: 2px solid rgb(245,203,204); */
}

/* .golive .title{
    font-size:3.5vh;
} */

.golive .button{
    background: rgb(5, 5, 5);
    color: rgb(255,255,255);
    /* transition: all 0.2s ease-in-out;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s; */
}

.spinoff{
    background: #cdbbb2;
    color: rgb(0, 0, 0);
    box-shadow: none;
    /* border-right: 2px solid rgb(245,203,204); */
}

.spinoff .title{
    font-size:3.5vh;
}

.spinoff .button{
    background:  rgb(0, 0, 0);
    color: rgb(255,255,255);
}

.myname{
    background: #e74930;
    color: rgb(0, 0, 0);
    box-shadow: none;
    /* border-right: 2px solid rgb(245,203,204); */
}

.myname .title{
    font-size:3.5vh;
}

.myname .button{
    background:  rgb(0, 0, 0);
    color: rgb(255,255,255);
}

.cityofonf{
    background: #4048a9;
    color: rgb(0, 0, 0);
    box-shadow: none;
    /* border-right: 2px solid rgb(245,203,204); */
}

.cityofonf .title{
    font-size:3.5vh;
}

.cityofonf .button{
    background:  rgb(0, 0, 0);
    color: #4048a9;
}

.popping{
    background: #69c7f1;
    color: white;
    box-shadow: none;
    /* border-right: 2px solid rgb(245,203,204); */
}

.popping .title{
    font-size:3.5vh;
}

.popping .button{
    background:  #69c7f1;
    color: white;
}

.goosebumps{
    background: #000000;
    color: #a0a0a1;
    box-shadow: none;
    /* border-right: 2px solid rgb(245,203,204); */
}

.goosebumps .title{
    font-size:3.5vh;
}

.goosebumps .button{
    background:  #000000;
    color: #a0a0a1;
}


/* .contents{
    width: 100%;
    margin: 4%;
} */

ul {
    list-style: none;
}



.word-display {
    padding: 1vh;
    width: 100%;
    margin-top: 1vh;
    font-size: 2vw;
    color: rgb(102,112,122);
}

.word-display p span {
    position: relative;
}

.word-display p span.correct {
    color: rgb(252,185,19);
}

.word-display p span.incorrect {
    color: rgb(231, 97, 20);
}

.word-display p span.active {
    color: rgb(130,214,247);
}

.word-input-box {
    margin-top: 1%;
}

.word-input {
    pointer-events: none;
    /* border:0px solid rgb(102,112,122); */
    border:1.5px solid rgb(168, 174, 180);
    border-radius: 5px;
    padding: 1vh;
    width: 100%;
    color: rgb(102,112,122);
    font-size: 2vw;
    word-spacing: 0px;
}

.click{
    pointer-events:auto;
}



.complete-text .word-display span.correct{
    color: rgb(0,115,208);
}

.complete-text .word-display p span.incorrect {
    color: rgb(239, 174, 138);
}

.complete-text .word-display p span.active {
    color: rgb(203,229,252);
}

.complete-text .word-input {
    border:1.5px solid rgb(203,229,252);
}

.wemustlove-text .word-display{
    color: rgb(129,114,124);
}

.wemustlove-text .word-display span.correct{
    color: rgb(117, 128, 119);
}

.wemustlove-text .word-display p span.incorrect {
    color: rgb(218,110,108);
}

.wemustlove-text .word-display p span.active {
    color: rgb(245,203,204);
}

.wemustlove-text .word-input {
    border:1.5px solid rgb(129,114,124);
}

.golive-text .word-display{
    color: rgb(118,114,109);
}

.golive-text .word-display span.correct{
    color: rgb(5, 5, 5);
}

.golive-text .word-display p span.incorrect {
    color: rgb(190,16,25);
}

.golive-text .word-display p span.active {
    color: rgb(69,158,49);
}

.golive-text .word-input {
    border:1.5px solid rgb(67,67,67);
}

.spinoff-text .word-display{
    color: #b4b4ac;
}

.spinoff-text .word-display span.correct{
    color: rgb(0, 0, 0);
}

.spinoff-text .word-display p span.incorrect {
    color: #8e2418;
}

.spinoff-text .word-display p span.active {
    color: #2d5471;
}

.spinoff-text .word-input {
    border:1.5px solid #b4b4ac;
}

.myname-text .word-display{
    color: rgb(0, 0, 0);
}

.myname-text .word-display span.correct{
    color: #930683;
}

.myname-text .word-display p span.incorrect {
    color: #e74930;
}

.myname-text .word-display p span.active {
    color: #51c0df;
}

.myname-text .word-input {
    border:1.5px solid rgb(0, 0, 0);
}

.cityofonf-text .word-display{
    color: #4a494f;
}

.cityofonf-text .word-display span.correct{
    color: rgb(0, 0, 0);
}

.cityofonf-text .word-display p span.incorrect {
    color: #dd4291;
}

.cityofonf-text .word-display p span.active {
    color: #4048a9;
}

.cityofonf-text .word-input {
    border:1.5px solid rgb(0, 0, 0);
}

.popping-text .word-display{
    color: #989697;
}

.popping-text .word-display span.correct{
    color: rgb(0, 0, 0);
}

.popping-text .word-display p span.incorrect {
    color: #dd4291;
}

.popping-text .word-display p span.active {
    color: #69c7f1;
}

.popping-text .word-input {
    border:1.5px solid rgb(0, 0, 0);
}

.goosebumps-text .word-display{
    color: #a0a0a1;
}

.goosebumps-text .word-display span.correct{
    color: #00459a;
}

.goosebumps-text .word-display p span.incorrect {
    color: #674396;
}

.goosebumps-text .word-display p span.active {
    color: #76c5b9;
}

.goosebumps-text .word-input {
    border:1.5px solid rgb(0, 0, 0);
}




.loading {
    display: none;
    /* background: grey;
    cursor: not-allowed; */
}

/* .btn_open {
    font-weight: bold;
    margin: 5px;
    padding: 4px 6px;
    background: #000;
    color: #fff;
} */

.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 0;
    text-align: center;
}

.pop_wrap:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    width: 200px;
    vertical-align: middle;
    font-size: 15px;
}